body {
  font-family: sans-serif;
  text-align: center;
  /* background: linear-gradient(to right, #FF7043, #FF1744); */
  background: radial-gradient(circle, #dc8383, #ff0707);

  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-image: url("../public/fondoo.png");
   */
}
.main{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.container {
  /* background-color: #4b8bf5; */
}
.img-container{
  min-width: 50vh;
  max-height: 50vh;
}

.bingo-card {
  display: inline-block;
  margin: 1rem;
}

.header, .row {
  display: grid;
  grid-template-columns: repeat(5, 60px);
}

.cell, .header div {
  border: 1px solid #aaa;
  padding: 10px;
  margin: 1px;
  background: white;
}

.header div {
  font-weight: bold;
  background: #4b8bf5;
  color: white;
}

.cell.marked {
  background: #81f581;
}
